@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
	@apply tw-h-full tw-flex tw-flex-col tw-overflow-hidden tw-box-border tw-px-6;
}

.tabs {
	@apply tw-flex-1 tw-flex tw-flex-col tw-min-h-0;
}

.tabContent {
	@apply tw-flex tw-flex-col tw-gap-3 tw-flex-1 tw-min-h-0;
}

.tableWrapper {
	@apply tw-flex-1 tw-overflow-hidden;
}

.addButton {
	@apply tw-w-fit;
}

.permissionType {
	@apply tw-ml-2 tw-text-gray-500 tw-text-xs;
}

.authTagRow {
	@apply tw-mt-3 tw-space-y-3;
}

.authTagRow :global(span[aria-describedby]) {
	@apply tw-flex tw-flex-col tw-py-1.5 tw-gap-3;
}

.authTagRow :global(.ant-tag) {
	@apply tw-w-fit;
}

.text-red {
	@apply tw-text-red-500;
}
